<div class="row">
  <div class="col-lg-12">
    <app-iq-card [isCardHeader]="false">
      <div class="iq-booking-index">
        <div class="iq-booking-offer iq-bg-primary">
          <div class="row justify-content-between">
            <div class="col-lg-6 position-relative">
              <div class="offer-an-img">
                <div class="bodymovin">
                  <ng-lottie [options]="optionsData"></ng-lottie>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <h2>
                Welcom to our project! <br />
                invest now!
              </h2>
              <p class="text-secondary">
                {{ description }}
              </p>
              <div *ngIf="selected">
                <input
                  type="number"
                  min="1"
                  step="5"
                  name="amount"
                  class="form-control mb-0"
                  id="amount"
                  placeholder="Enter amount"
                  [(ngModel)]="amount"
                />
                <div class="alert alert-danger m-2" *ngIf="amount < 0">
                  the amount must be a positive number
                </div>
                <button
                  (click)="invest()"
                  class="btn btn-primary mt-5"
                  [disabled]="!amount || amount < 0"
                >
                  Invest
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="pt-4">
          <ngx-slick-carousel
            class="slider center slick-slider"
            [config]="slideConfig"
          >
            <div ngxSlickItem *ngFor="let slide of data" class="slide">
              <a
                (click)="project(slide.id)"
                href="javascript:void(0);"
                class="iq-booking-date"
              >
                <div class="iq-booking-dot"></div>
                <h3>
                  {{ slide.name
                  }}<small class="d-inline-block w-100"
                    ><label (click)="newpage()"
                      >${{ slide.funds }}</label
                    ></small
                  >
                </h3>
              </a>
            </div>
          </ngx-slick-carousel>
        </div>

        <div class="iq-booking-screen">
          <div class="text-center">
            <img src="/assets/images/screen.png" class="w-100" alt="" />
            <!-- <span>miss somthnig here!!</span> -->
          </div>
        </div>
      </div></app-iq-card
    >
  </div>
</div>
